# Python compiled files
__pycache__/
*.py[cod]
*.$py.class

# Byte-compiled / optimized / DLL files
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
dist/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# Pytest cache
.pytest_cache/

# IDE / editor settings
.vscode/
.idea/

__pycache__/
